.container {
    padding: 7rem;
}

.col1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.col2 {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.divider {
    min-width: 80% !important;
    width: 80% !important;
}