.container {
    width: 100vw;
    
    padding: 1rem;
    
    display: flex;
    justify-content: space-between;
    
    background-color: #000;
    color: #fff;
    position: fixed;
    z-index: 100;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;

    span {
        margin-left: .5rem;
        font-size: 1.5rem;
        letter-spacing: 3px;
        text-transform: uppercase;
    }
}

.linksUser {
    display: flex;
    justify-content: center;
}

.linksGroup {
    display: flex;
    align-items: center;
    text-transform: uppercase;

    margin-right: 2rem;

    :hover {
        border-bottom: 1px solid #fff;
        color: inherit;
    }

    a {
        margin: 0 .7rem;
        
        display: flex !important;
        flex-direction: row !important;


        cursor: pointer;
    }
}

.userAvatar {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    margin-right: 1.5rem;

    cursor: pointer;
    

    span {
        background-color: #fff;
        width: 35px;
        height: 35px;
    }
}


