.container {
    width: 100vw;
    
    padding: 1rem;
    
    display: flex;
    justify-content: space-between;
    
    background-color: #000;
    color: #fff;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;

    span {
        margin-left: .5rem;
        font-size: 2rem;
        letter-spacing: 3px;
        text-transform: uppercase;
    }
}

.linksUser {
    display: flex;
    justify-content: center;
}

.linksGroup {
    display: flex;
    align-items: center;

    margin-right: 5rem;

    div {
        margin: 0 1.5rem;
        cursor: pointer;
    }
}