.container {
    width: 100vw;
    
    padding: 1rem;
    
    display: flex;
    justify-content: space-between;
    
}

.linksUser {
    display: flex;
    justify-content: center;
}

.linksGroup {
    display: flex;

    margin-right: 5rem;

    div {
        margin: 0 1.5rem;
        cursor: pointer;
    }
}