.container {
    padding-top: 5rem;
}

.headerContainer {
    padding: 2rem;
    height: 100vh;
    background: url('/blackBackground - 1.jpeg');
    background-size: cover;
}

.headerCol1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;

    color: #fff;
}

.headerTextContainer {
    font-size: 4rem;
    display: flex;
    justify-content: center;

    // text: wallet
    &>span>span {
        color: var(--primary-color);
    }
}

.headerDescription {
    color: #fff;
    font-size: 1rem;
    font-weight:500;

    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.headerBtn {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;

    button {
        border: none;
        border-radius: 5px;

        background: #000;
        color: #fff;
        padding: .5rem;

        font-size: 1.2rem;
        text-transform: uppercase;
        cursor: pointer;

    }
}

.headerCol2 {
    display: flex;
    justify-content: center;
    padding: 3rem;
    position: relative;
}

.globeSVG {
    display: flex;
    align-items: center;
    margin-bottom: 15rem;

    svg {
        font-size: 5rem;
        color: #fff;
    }
}

.btcSVG, .ethSVG {
    width: 55px;
    height: 55px;
    font-size: 2rem;
    border-radius: 50%;
    padding: .5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.btcSVG {
    color: #fff;
    background-color: rgba(226,146,59);
}

.ethSVG {
    color:rgb(31, 31, 31);
    background-color: rgba(96,125,166);
}

.shib {
    
}