.container {
    padding-top: 5rem;
}

.infoSection {
    background: rgba(31,31,31);
    color: #fff;
    padding: 5rem;

    // image columns
    & > div > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;

        .infoWalletTitle, .infoCryptoTitle, .infoTxTitle {
            margin-top: 1rem;
            font-size: 1.6rem;
        }

        .infoWalletTitle {
            span {
                color: rgb(255, 92, 92);
            }
        }

        .infoCryptoTitle {
            span {
                color: rgb(254, 91, 254);
            }
        }

        .infoTxTitle {
            span {
                color: rgb(106, 106, 253);
            }
        }
    }
}

.infoPrimaryText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width:100%;
    margin-top: 2rem;

    div {
        font-size: 2rem;
        // text-align: center;

        span {
            color: var(--primary-color);
        }

        p {
            font-size: 1rem;
            margin-top: 1rem;
        }
    }
}