:root {
  --primary-color: rgb(51, 194, 237);
  --flex-center:  (
    display: flex,
    justify-content: center,
    align-items: center,
  );
}


html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;

}

* {
  box-sizing: border-box;
}
